# build artefacts
lib
!packages/test-runner/lib

# npm
node_modules
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

.vscode/

/test

packages/test-runner/test-runner.sketchplugin/Contents/Sketch/compiled-tests.js
packages/test-runner/test-runner.sketchplugin/Contents/Sketch/compiled-tests.js.map
packages/test-runner/test-runner.sketchplugin/Contents/Sketch/generated-tests.js

packages/create-sketch-plugin/src/commands/*
packages/create-sketch-plugin/src/utils/*
